/* Static styles for GridV3 component */
/* Note: grid-template-columns and grid-template-rows are in the .razor file
   because they use Razor syntax (@Game.GridSize) which doesn't work in .css files */

/* V3 Enhancements:
   - Droppables appear as blue dots (like V2 player)
   - Collected droppables turn the cell black (like V2 droppable background)
*/

#grid {
  display: grid;
  max-width: fit-content;
  margin-inline: auto;
  border: 1px solid black;
}

.cell {
  border: 1px solid black;
  text-align: center;
}

/* Player styling - white square */
.player::before {
  content: '▢';
  font-size: 60px;
  color: #0066cc;
  line-height: 60px;
}

/* Droppable styling - blue dot (same as V2 player) */
.droppable::after {
  content: '●';
  font-size: 30px;
  color: #0066cc;
  line-height: 60px;
  font-family: mono;
}

.cell.droppable.player {
  position: relative;
  &::before {
    width: 100%;
    position: absolute;
    right: 0
  }
}

/* Collected state - black background (same as V2 droppable) */
.collected {
  background-color: black;
}

