@* GridV1 - Anchor-based grid with focus highlighting (poc-v1 style) *@
@using p07_vimkeys_game.Domain.Entities
@using p07_vimkeys_game.Domain.ValueObjects

<style>
  #grid div {
    display: flex;
  }
  #grid a {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: black;
    position: relative;
  }
  #grid a:focus {
    background-color: yellow;
    outline: 2px solid blue;
    outline-offset: -2px;
  }
  .droppable::after {
    content: '●';
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 10px;
    color: #0066cc;
  }
</style>

<div id="grid">
  @for (int y = 0; y < Game.GridSize; y++)
  {
    <div>
      @for (int x = 0; x < Game.GridSize; x++)
      {
        var currentPos = new Position(x, y);
        var hasDroppable = Game.Droppables.Any(d => !d.IsCollected && d.Position == currentPos);

        <a href="javascript:void(0)"
           class="@(hasDroppable ? "droppable" : "")"
           data-row="@y"
           data-col="@x">
          @y@x
        </a>
      }
    </div>
  }
</div>

@code {
    [Parameter] public Game Game { get; set; } = null!;
}
